.task-list {
  list-style-type: none;
  max-width: 55%;
}
.task-list li {
  margin-bottom: 12px;
}
.task-list li:last-child {
  margin-bottom: 0;
}

.task-list-empty {
  margin: 14px 14px 14px 40px
}

@media (max-width: 1280px) {
  .task-list {
    max-width: 70%;
  }
}

@media (max-width: 1024px) {
  .task-list {
    max-width: 95%;
  }
}

@media (max-width: 768px) {
  .task-list {
    max-width: 100%;
    width: 100%;
  }
}