<h2 class="modal-title">Add New Task</h2>

<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" class="input" formControlName="title" placeholder="Title" appFocus/>
  <p *ngIf="title.errors && title.touched" class="error-msg">
    Please, fill the title (min 5)
  </p>

  <input type="text" class="input" formControlName="description" placeholder="Description" />
  <p *ngIf="description.errors && description.touched" class="error-msg">
    Please, fill the description (min 5)
  </p>


  <input type="date" class="input" formControlName="deadline" />
  <p *ngIf="deadline.errors && deadline.touched" class="error-msg">
    Please, fill the deadline 
  </p>

  <div class="buttons-wrapper">
    <button 
      type="submit" 
      [ngClass]="title.errors || description.errors || deadline.errors ? 'disabled-button' : ''"
    >
      Add
    </button>

    <button type="reset" class="orange-button">Clear</button>
  </div>
</form> 