.modal-wrapper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.9);
}

.modal-window {
  display: table;
  width: 25%;
  overflow: auto; 
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  border-radius: 6px;
  padding: 24px;
  background-color: #fff;
}

.button {
  position: absolute;
  top: 12px;
  right: 12px;
}