<div class="task-wrapper" [ngStyle]="{background: createTaskColor()}">
  <h3>{{ 
    task?.title?.length! > maxTaskTitleLength 
      ? task?.title?.slice(0, maxTaskTitleLength) + '...' 
      : task?.title
  }}</h3>


  <div class="flex">
    <span>Deadline: </span>
    <i>{{task?.deadline}}</i>

    <div class="flex">
      <button class="red-button button" (click)="onDeleteHandler()">Delete</button>
      <button class="orange-button button" (click)="onEditHandler()">Edit</button>
    </div>
  </div>
</div>