body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
}

button {
  border: 0;
  border-radius: 3px;
  padding: 6px 9px;
  transition: 0.3s;
  font-size: 14px;
  color: #fff;
  background-color: blue;
  cursor: pointer;
  margin: 0;
  position: relative;
}
button:hover {
  background-color: darkblue;
}

.orange-button {
  background-color: orange;
}
.orange-button:hover {
  background-color: darkorange;
}

.red-button {
  background-color: red;
}
.red-button:hover {
  background-color: darkred;
}

.disabled-button {
  background-color: lightgrey;
  cursor: default;
}
.disabled-button:hover {
  background-color: lightgrey;
}


.close-button {
  width: 22px;
  height: 22px;
  color: darkgrey;
  background-color: transparent;
  padding: 1px;
  line-height: 0;
  position: relative;
}
.close-button:hover {
  background-color: lightgrey;
}
.close-button::after, .close-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 1px;
  background-color: grey;
  transform: rotate(45deg);
}
.close-button::after {
  transform: rotate(-45deg);
}

.tooltip {
  position: absolute;
  top: -30px;
  left: 3px;
  padding: 6px;
  border-radius: 3px;
  min-width: 150px;
  background-color: grey;
  color: #fff;
  display: none;
}
button:hover .tooltip {
  display: block;
}